.wrapper--allProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.title {
    font-size: 2em;
}

.container--all-product-items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.product-image {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.description {
    max-width: 250px;
}

.product-search {
    width: 100%;
}

.category-inputs {
    position: sticky;
}

.container--categories {
    background-color: #0078bf;
	border-radius: 20px;
  color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 700; 
	line-height: 1.6875rem;
	margin-top: 0 !important;
	padding: .5rem .8rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}