.wrapper--allProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.title {
    font-size: 2em;
}

.container--all-product-items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.product-image {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.description {
    max-width: 250px;
}

.product-search {
    width: 100%;
}

.categories {
    position: relative;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.categories-div {
    margin: 20px;
}

.category-label {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
}

.category-input {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.header-filter {
    text-align: center;
}