.wrapper--ProductItem {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
    .container--product-item{

    }
        .main-product-image {
            border-radius: 20px;
            margin-bottom: 30px;
        }
        .container--thumbnails {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }
            .thumbnail {
                max-width: 200px;
                height: auto;
                border-radius: 20px;
            }
            .thumbnail:hover {
                transform: scale(1.1);
            }
        .container--product-item-details {

        }
            .description {
                max-width: 500px
            }
        .container--buy-button {

        }
            .button--addToCart {

            }
        .container--increase-remove-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }
            .container--increase-items {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }
                .button-decrease {

                }
                .quantity {
                    font-size: 1.5rem;
                }
                .button-increase {

                }
            .button-remove {

            }